<button type="button" class="btn btn-default" id="blog-delete" data-toggle="modal" data-target="#EModalSelect">
    Добавить по значения
  </button>

<div class="modal fade" id="EModalSelect" role="dialog" aria-labelledby="modalForSelect">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modalForSelect"></h4>
        </div>
        <div class="modal-body">
            <p>Тут значения по умолчанию</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>Закрыть
            </button>
        </div>
        </div>
    </div>
</div>