.event-preview {
  background-color: #FFFFFF;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.block-gray {
  font-size: 0.875rem !important;
  background-color: #f3f2f2;
  margin-bottom: 2.5rem;
}

.event-schedule {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #8C8D96;
}

.event-schedule > span:before {
  content: '';
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event-schedule > span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.event-summary {
  padding: 1.75rem;
  font-size: 1.4rem !important;
}

.event-summary__descr {
  margin-bottom: 2rem;
}

.event-schedule > span.event-schedule__date:before {
  background-image: url("/src/Frontend/Themes/IMoscow/Core/Layout/img/icon-calendar.svg");
}

.event-schedule > span.event-schedule__time:before {
  background-image: url("/src/Frontend/Themes/IMoscow/Core/Layout/img/icon-clock.svg");
}

.event-schedule > span.event-schedule__price:before {
  background-image: url("/src/Frontend/Themes/IMoscow/Core/Layout/img/icon-door.svg");
}

.event-schedule > span.event-schedule__address:before {
  background-image: url("/src/Frontend/Themes/IMoscow/Core/Layout/img/icon-pin.svg");
}

.event-schedule > span.event-schedule__link:before {
  background-image: url("/src/Frontend/Themes/IMoscow/Core/Layout/img/icon-globe.svg");
}

.event-text {
  font-size: 1.4rem !important;
}

.img-fluid {
  max-width: 512px;
  height: auto;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
}