{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}


{% block actionbar %}{% endblock %}

{% block content %}
{% form edit %}
<div class="row fork-module-content">
  <div class="col-md-12">

      <div class="row">
        <div class="form-group">
          <label for="active" class="control-label">НДС</label>
          {% form_field nds %} {% form_field_error nds %}
        </div>

        <div class="form-group">
          <label for="sort" class="control-label">Префикс заказов</label>
          {% form_field prefix %} {% form_field_error prefix %}
        </div>

          <div class="form-group">
            <label for="sort" class="control-label">Время хранения корзины</label>
            {% form_field time_save_basket %} {% form_field_error time_save_basket %}
          </div>

          <div class="form-group">
            <label for="sort" class="control-label">Менять статус заказа после оплаты</label>
            {% form_field change_status_for_pay %} {% form_field_error change_status_for_pay %}
          </div>

          <div class="form-group">
            <label for="sort" class="control-label">Страница успешной оплаты</label>
            {% form_field page_payment_success %} {% form_field_error page_payment_success %}
          </div>

          <div class="form-group">
            <label for="sort" class="control-label">Страница с ошибкой оплаты</label>
            {% form_field page_payment_error %} {% form_field_error page_payment_error %}
          </div>

          <div class="form-group">
            <label for="sort" class="control-label">Редирект на страницу с сообщение успешной оплаты</label>
            {% form_field redirect_page_payment_success %} {% form_field_error redirect_page_payment_success %}
          </div>

          <div class="form-group">
            <label for="sort" class="control-label">Редирект на страницу с сообщение об ошибке оплаты</label>
            {% form_field redirect_page_payment_error %} {% form_field_error redirect_page_payment_error %}
          </div>

      </div>

    </div>
  </div>

  <div class="btn-group pull-left" role="group">
    <a class="btn btn-primary" href="{{geturl('category_element_index')}}&cat={{get_cat}}&cti={{get_cti}}" role="button">Отмена</a>
  </div>

  <div class="btn-toolbar">
    <div class="btn-group pull-right" role="group">
      <button id="addButton" type="submit" name="add" class="btn btn-primary">
        <span class="fa fa-plus-square"></span>Сохранить
      </button>
    </div>
  </div>

  {% endform %}


{% endblock %}
