{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  <style>
    .tt-suggestion strong {
      font-weight: bold;
      color: blue;
    }
    .twitter-typeahead {
      width: 100%;
    }

    .tt-menu {
        max-height: 320px;
        /*max-width: 450px;*/
        overflow: auto;
    }
  </style>

    {% form add %}
        <div class="row fork-module-content">
            <div class="col-md-12">
                <label for="title" class="control-label">Заголовок {{ macro.required }}</label>
                {% form_field title %} {% form_field_error title %}
                <br>
                <label for="short" class="control-label">Краткое описание</label>
                {% form_field short %} {% form_field_error short %}
                <br>
                <label for="time" class="control-label">Время проведения мероприятия</label>
                {% form_field time %} {% form_field_error time %}
                <br>
                <label for="address" class="control-label">Адрес</label>
                {% form_field address %} {% form_field_error address %}
                <br>
                <label for="site" class="control-label">Сайт</label>
                {% form_field site %} {% form_field_error site %}
                <br>
                <label for="type" class="control-label"></label>
                {% form_field type %} {% form_field_error type
                %}
                <br><br>
                <label for="description" class="control-label">Описание</label>
                {% form_field description %} {% form_field_error description
                %}
                <br>
                <label for="image" class="control-label">Изображение</label>
              {% form_field image %} {% form_field_error image %}
              <input type="button" id="FileBrowseImage"
                     value="Выбрать файл"
                     class="fileBrowse" data-target="#image">
              <script type="text/javascript">
                $(function () {
                  $(".fileBrowse").on("click", function () {
                    var target = $(this).attr('data-target');
                    CKFinder.popup({
                      chooseFiles: true,
                      'skin': 'forkcms',
                      width: 1200,
                      height: 600,
                      onInit: function (finder) {
                        finder.on('files:choose', function (evt) {
                          var file = evt.data.files.first();
                          $(target).val(file.getUrl());
                          $('#image_preview').prop('src', file.getUrl());
                          jsBackend.imscevents.updatePreview();
                        });
                      }
                    });
                  });
                });
              </script>
                <br>
                <label for="date" class="control-label">Дата начала</label>
                {% form_field date %} {% form_field_error date
                %}
                <br>
                <label for="enddate" class="control-label">Дата окончания</label>
                {% form_field enddate %} {% form_field_error enddate
                %}
              <br>

              <label for="innoObjectTypeId" class="control-label">Тип инфраструктуры</label>
              {% form_field innoObjectTypeId %} {% form_field_error innoObjectTypeId %}
              <br>
              <label for="oiiId" class="control-label">ID привязанного объекта</label>
              {% form_field oii_id %} {% form_field_error oii_id %}
              <br>
              <label for="oiiName" class="control-label">Название компании</label>
              {% form_field oii_name %} {% form_field_error oii_name %}

                <br>
                <label for="dnpp_id" class="control-label">Id в ДНПП</label>
                {% form_field dnpp_id %} {% form_field_error dnpp_id %}

                <label for="ictId" class="control-label">Id в ДИТ</label>
                {% form_field ict_id %} {% form_field_error ict_id %}
                <br>

                <ul class="list-unstyled">
                  <li class="checkbox">
                    <label for="active" class="control-label">{% form_field in_all %} В общих списках</label>
                    {% form_field_error in_all %}
                  </li>
                </ul>

                <ul class="list-unstyled">
                  <li class="checkbox">
                    <label for="active" class="control-label">{% form_field active %} Активна</label>
                     {% form_field_error active %}
                  </li>
                </ul>

                <ul class="list-unstyled">
                  <li class="checkbox">
                    <label for="main" class="control-label">{% form_field main %} Главное мероприятие</label>
                     {% form_field_error main %}
                  </li>
                </ul>

                <ul class="list-unstyled">
                  <li class="checkbox">
                    <label for="main" class="control-label">{% form_field made_in_moscow %} В разделе "Cделано в Москве"</label>
                    {% form_field_error made_in_moscow %}
                  </li>
                </ul>

                <ul class="list-unstyled">
                  <li class="checkbox">
                    <label for="hidden" class="control-label">{% form_field hidden %} Скрыть из списка</label>
                     {% form_field_error hidden %}
                  </li>
                </ul>
                <br>

                <div class="btn-toolbar">
                    <div class="btn-group pull-right" role="group">
                    <button id="addButton" type="submit" name="add" class="btn btn-primary">
                        <span class="fa fa-plus-square"></span>Добавить
                    </button>
                    </div>
                </div>
            </div>
        </div>
    {% endform %}

    {% include "Imscevents/Layout/Templates/Preview.html.twig" %}
{% endblock %}
