<hr>
<div class="event-preview">
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="font-weight-bold" id="eventTitle"></h2>
        </div>
      </div>
    </div>
  </section>
  <div class="event-summary block-gray">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 mb-4 mb-md-0 order-2 order-md-1">
          <div class="event-summary__descr" id="eventShort"></div>
          <div class="event-schedule">
            <span class="event-schedule__date" id="eventDate"></span>
            <span class="event-schedule__time" id="eventTime"></span>
            <span class="event-schedule__price" id="eventFormat"></span>
            <span class="event-schedule__address" id="eventAddress"></span>
            <span class="event-schedule__link" id="eventSite"><a href="" target="_blank"></a></span>
          </div>
        </div>
        <div class="col-12 col-md-5 order-1 order-md-2 mb-4 mb-md-0" id="eventImage">
          <a href="" data-fancybox>
              <img src="" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 event-text" id="eventDescription"></div>
      </div>
    </div>
  </section>
</div>
