{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {{ macro.buttonIcon(geturl('add_dnpp'), 'plus-square', 'Добавить команду') }}
      <a href="#" class="btn btn-default delete-dnpp-events" title="Удалить мероприятия из ДНПП">
        <span class="fa fa-remove"></span>
        <span class="btn-text">Удалить мероприятия из ДНПП</span>
      </a>
      <a href="#" class="btn btn-default delete-ict-events" title="Удалить мероприятия из ICT">
        <span class="fa fa-remove"></span>
        <span class="btn-text">Удалить мероприятия из ICT</span>
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {{ dataGrid|raw }}
    </div>
  </div>
{% endblock %}
